.navbar-nav .nav-link {
    text-transform: capitalize;
    color: #333;
   font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}
.navbar-nav .nav-link:hover{
	color: #2884ce;
}


.service-section{
    padding: 100px 0;
}
h6{
    color: #0183ea;
    font-size: 18px;
    text-transform: capitalize;
}
h1{
    text-transform: capitalize;
    font-weight: 400;
    font-size: 35px;
}
.service, .feature{
    padding: 25px;
}
.service img{}
h3{
    font-size: 24px;
    margin: 2px 0;
}
p{
    font-size: 16px;
    line-height: 1.7;
}


.feature-section, .partner-section{
	padding: 100px 0;

}
.partners-section a{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
}
.partners-section h1{
    font-size: 70px;
    font-weight: 100;
}

